@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PyeongChangPeace-Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Prompt";
	src: url("/font/Prompt.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0px;
}

* {
	word-break: keep-all !important;
	font-family: 'Pretendard-Regular';
}

.space {
	background-color: black;
	color: white;
}

.stars {
	background-image: url("/stars.png");
	background-position: center;
	background-size: 1200px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.logo {
	width: 200px;
	height: 70px;
	background-image: url("/logo/bluelogo.png");
	background-position: center;
	background-repeat: no-repeat;
}

.white_logo {
	width: 110px;
	height: 70px;
	background-image: url("/logo/big_whitelogo.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.big_title {
	font-size: 5rem !important;
}

.beta_sticker {
	position: absolute;
	top: 190px;
	right: -40px;
	width: 8rem;
	height: auto;
}

.left_right {
	flex-direction: row;
}

.it_talents {
	width: auto;
}

@media (max-width: 1000px) {
	.left_right {
		flex-direction: column;
	}

	.left_right > .left {
		margin: 0 !important;
	}
	
	.left_right > .right {
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-bottom: 0 !important;
		margin-top: 16px !important;
	}

	.it_talents {
		width: 100%;
	}
}

@media (max-width: 800px) {
  .big_title {
		font-size: 2rem !important;
  }

	.beta_sticker {
		position: absolute;
		top: -40px;
		right: -40px;
		width: 8rem;
		height: auto;
	}
}

.notion-page-icon-hero {
	left: 62px !important;
}

.ant-menu-horizontal {
	border-bottom: none !important;
	transition: none !important;
}

.ant-menu-item {
	font-size: 20px;
}

.ant-menu-item-selected {
	font-weight: bold;
}

.ant-menu-item-selected::after {
	height: 5px;
	background-color: black;
	border: none;
	border-radius: 10px;
}

.ant-menu-item:hover::after {
	height: 5px;
	background-color: black;
	border: none;
	border-radius: 10px;
}

.blur {
	filter: blur(1px);
	-webkit-filter: blur(1px);
}

.blur:hover {
	filter: none;
	-webkit-filter: none;
}
