body {
	margin: 0px;
}

.logo {
	width: 200px;
	height: 64px;
	background-image: url('/logo.png');
	background-position: center;
	background-repeat: no-repeat;
}

.notion-page-icon-hero {
	left: 62px !important;
}
