body {
	margin: 0px;
}

.space {
	background-color: black;
}

.stars {
	background-image: url("/stars.png");
	background-position: center;
	background-size: contain;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.logo {
	width: 200px;
	height: 70px;
	background-image: url("/logo.png");
	background-position: center;
	background-repeat: no-repeat;
}

.white_logo { 
    width: 90px; /* 로고 크기 조정 */
    height: auto; /* 높이를 너비에 맞게 자동으로 조절 */
	background-position: center;
	background-repeat: no-repeat;
}

.notion-page-icon-hero {
	left: 62px !important;
}

.ant-menu-horizontal {
	border-bottom: none !important;
	transition: none !important;
}

.ant-menu-item {
	font-size: 20px;
}

.ant-menu-item-selected {
	font-weight: bold;
}

.ant-menu-item-selected::after {
	height: 5px;
	background-color: black;
	border: none;
	border-radius: 10px;
}

.ant-menu-item:hover::after {
	height: 5px;
	background-color: black;
	border: none;
	border-radius: 10px;
}

.blur {
	filter: blur(1px);
	-webkit-filter: blur(1px);
}

.blur:hover {
	filter: none;
	-webkit-filter: none;
}
